<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	<nav th:replace="layouts :: navbar" ></nav>
	<div class="container">
		<h4>Current Employees</h4>
		<a th:href="@{/employees/new}" class="btn btn-primary btn-sm mb-3">
			Add Employee
		</a>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Email</th>
					<th scope="col">Project ID</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aEmployee : ${employees}">
					<th scope="row" th:text="${aEmployee.employeeId}"/>
					<td th:text="${aEmployee.firstName}"/>
					<td th:text="${aEmployee.lastName}"/>
					<td th:text="${aEmployee.email}"/>
					<td th:text="${aEmployee.project}"
				</tr>
			</tbody>
		</table>
	</div>	
	
</body>
</html>