<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
	<nav th:replace="layouts :: navbar" ></nav>
	<div class="container">
		<form action="/employees/save" th:object="${employee}" method="post">
			
			<input type="text" th:field="${employee.firstName}" placeholder="First Name"/>
			<input type="text" th:field="${employee.lastName}" placeholder="Last Name"/>
			<input type="text" th:field="${employee.email}" placeholder="Email"/>
			<button type="submit">Create Employee</button>
		</form>
	</div>	

</body>
</html>